<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CreateVariablesProject</title>
    <script>
      var height = 52;
      var age = 10;
      if ((height >= 52) & (age >= 10)) {
        console.log("Get on that ride, kiddo!");
      } else {
        console.log("Sorry kiddo. Maybe next year.");
      }
    </script>
  </head>
  <body></body>
</html>
